[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pkgcond"]
	path = pkgcond
	url = https://github.com/rdoctaskforce/pkgcond
[submodule "postlogic"]
	path = postlogic
	url = https://github.com/rdoctaskforce/postlogic
